.aside-b{
    grid-area: aside-b;
    padding-top: 30px;
}

.notice-box {
    margin: 10px;
    border-radius: 3px;
   
}

.notice-title {
    font-size: 15px;
    font-weight: bold;
    color: black; 
    text-decoration: none;
    margin-bottom: 10px;
    text-align: left;
}

.notice-item a{
padding:10px;
color:black;
font-size: 14px;
text-decoration: none;
display: flex;
border: 1px solid #ddd;
text-align: left;
}
   
.aside-b-img {
    margin-top: 30px;  
    height: 200px;
    width: 100%;
    border-radius: 10px;
    

}

@media(max-width: 1400px){
    .aside-b{
        display: none;
    }
    .page{
        grid-template-columns: 260px auto;
        grid-template-rows: 72px auto 135px;
        grid-template-areas:
        'header header'
        'aside-a main'
        'aside-a footer';
    }
}

