.aside-a{
    grid-area: aside-a;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
}
.aside-a button{
    height: 40px;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.aside-a-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 0.5em;
    border-radius: 10px;
    background-color: white;
}
.aside-a a{
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.aside-a a:nth-child(-n+2){
    border-bottom: 1px solid black;
}
.aside-a a:nth-child(odd){
    border-right: 1px solid black;
}


.aside-a-img{
    height: 72px;
    border-radius: 10px;

}

@media(max-width: 1100px){
    .aside-a{
        display: none;
    }

}
