.dark1{
    background-color: black;
    color: white;
}
.white1{
    background-color: white;
    color: black;
}


.dark2 {
    background-color: #1e1e1e;
    color: white !important;
}
.white2 {
    background-color: #f3efef;
    color: black;
}

