.header{
    grid-area: header;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #f3efef;
    overflow: hidden;
}
.header-a{
    color: black;
    text-decoration: none;
    padding: 1em;
}
.header-a:nth-child(1){
    flex: 1 0 auto;
}

.header input{
    padding: 0.5em;
    border-radius: 30px;
    border: 1px solid #ddd;
    opacity: 0;
    margin-left: auto;
}
.header img{
    height: 28px;
}
.header button{
    font-size: 15px;
    padding: 0.5em 1em;
    background-color: dodgerblue;
    color: white;
    border-radius: 30px;
}
@media(max-width: 1100px){
    .header{
        height: 72px;
    }
    .header a:nth-child(1){
        flex: 0 0 auto;
    }
    .header a:nth-child(n+2):nth-child(-n+10){
        display: none;
    }
}
