.page{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 260px auto 260px;
    grid-template-rows: 72px auto 135px;
    grid-template-areas: 
    'header header header'
    'aside-a main aside-b'
    'aside-a footer aside-b';
    background-color: #f3efef;
    max-width: 1400px;
    margin: 0 auto;
}


@media(max-width: 1100px){
    .page{
        display: flex;
        flex-direction: column;
    }
}